{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>

    <section class="container mt-5">
      <h2 class="text-center">Welcome to Dashboard</h2>
      <h4 class="text-center text-white-50">
        {% if user.is_authenticated %}
          Hi, <span style="color: azure;"> {{user.first_name}} 😃 </span> Hope you are having a good day
        {% else %}
          Hope you are having a good day
        {% endif %}
      </h4>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          {% include 'messages.html' %}
        </div>
      </div>

      <div class="table-responsive- mt-3">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">YTubers_name</th>
              <th scope="col">City</th>
              <th scope="col">Visit</th>
            </tr>
          </thead>
          <tbody>
            {% for ytub in youtuber %}
              <tr>
                <th scope="row">{{ytub.id}}</th>
                <td>{{ytub.name}}</td>
                <td>{{ytub.city}}</td>
                <td>
                  <a href="https://www.youtube.com/embed/{{ytub.video_url}}" target="_blank" class="btn btn-accent">Go to Page </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </section>
  </main>


{% endblock %}